@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1563%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1564%26quot%3b)'%3e%3c/rect%3e%3cpath d='M94.74 540C94.74 436.34 20.68 432.89 0 315C-26.69 162.89 -99.47 58.03 0 0C170.53 -99.47 270 0 540 0C810 0 810 0 1080 0C1350 0 1350 0 1620 0C1890 0 1890 0 2160 0C2430 0 2430 0 2700 0C2970 0 2970 0 3240 0C3510 0 3510 0 3780 0C4050 0 4147.5 -97.5 4320 0C4417.5 55.11 4338.75 155.25 4320 305.22C4305 425.25 4252.5 429.75 4252.5 540C4252.5 587.44 4313.71 570.32 4320 620.6C4347.46 840.32 4320 850.3 4320 1080C4320 1350 4320 1350 4320 1620C4320 1751.54 4402.97 1804.99 4320 1883.08C4132.97 2059.11 4045.45 1999.28 3780 2128.24C3760.45 2137.74 3771.3 2158.75 3750 2160C3501.3 2174.63 3495 2160 3240 2160C2970 2160 2970 2160 2700 2160C2441.91 2160 2296.33 2291.61 2183.82 2160C2065.52 2021.61 2247.5 1882.84 2238.39 1620C2235.59 1539.21 2196.09 1472.73 2160 1472.73C2125.34 1472.73 2104.01 1541.37 2096.88 1620C2072.85 1885 2224.21 2016.73 2097.69 2160C1985.77 2286.73 1858.85 2160 1620 2160C1350 2160 1350 2160 1080 2160C887.14 2160 879.94 2188.56 694.29 2160C609.94 2147.02 604.11 2076.92 540 2076.92C505.93 2076.92 540.46 2153.45 497.92 2160C270.46 2194.99 119.43 2289.53 0 2160C-129.53 2019.53 0 1890 0 1620C0 1350 0 1350 0 1080C0 859.09 -36.19 844.47 0 638.18C11.18 574.47 94.74 597.93 94.74 540' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2160 285.88C2069.34 285.88 2008.42 415.75 2008.42 540C2008.42 650.81 2071.18 756 2160 756C2270.4 756 2406.86 653.01 2406.86 540C2406.86 417.95 2268.56 285.88 2160 285.88' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M331.58 540C364.17 297.61 58.41 156.46 118.8 0C162.62 -113.54 329.4 0 540 0C810 0 810 0 1080 0C1338.51 0 1356.86 -26.68 1597.02 0C1626.86 3.32 1610.12 29.44 1620 60C1697.4 299.44 1657.1 319.06 1771.58 540C1921.35 829.06 2108.82 794.21 2148.51 1080C2183.81 1334.21 2052.36 1358.66 1921.56 1620C1788.1 1886.66 1837.65 2038.66 1620 2136C1416.87 2226.84 1339.75 2093.82 1080 1996.36C799.75 1891.21 750.44 1685.3 540 1730.77C371.74 1767.12 484.23 2031.53 322.6 2160C214.23 2246.14 60.32 2260.98 0 2160C-100.98 1990.98 0 1890 0 1620C0 1350 0 1350 0 1080C0 981.82 -48.31 962.31 0 883.64C117.48 692.31 304.77 739.43 331.58 540' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3162.86 540C3226.08 278.9 3177.47 257.78 3214.29 0C3216.04 -12.22 3227.15 0 3240 0C3510 0 3510 0 3780 0C3988.87 0 4132.31 -116.32 4197.74 0C4284.18 153.68 4047.07 293.38 4083.75 540C4108.2 704.42 4250.55 663.35 4320 822.09C4368.68 933.35 4320 951.05 4320 1080C4320 1307.37 4406.07 1534.74 4320 1534.74C4205.14 1534.74 4127.93 1297.88 3918.14 1080C3857.93 1017.47 3851.29 973.93 3780 973.93C3699.72 973.93 3628.71 994.33 3615 1080C3577.01 1317.37 3763.87 1390.51 3676.6 1620C3576.37 1883.56 3457.89 1842.65 3240 2066.09C3194.59 2112.65 3210.54 2149.47 3150 2160C2940.54 2196.43 2925 2160 2700 2160C2541.18 2160 2427.25 2259.42 2382.35 2160C2305.31 1989.42 2363.4 1865.91 2456.13 1620C2522.23 1444.71 2568.82 1460.23 2700 1317.6C2817.14 1190.23 2866.1 1225.6 2952.77 1080C3097.53 836.8 3095.32 818.9 3162.86 540' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M540 444.71C380.89 367.02 388.8 168.21 388.8 0C388.8 -54.15 464.4 0 540 0C810 0 810 0 1080 0C1194.89 0 1309.79 -60.77 1309.79 0C1309.79 107.98 1243.9 242.82 1080 337.5C859 465.17 726.49 535.77 540 444.71' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M3534.55 540C3466.07 307.67 3476.3 192.94 3564 0C3599.03 -77.06 3672 0 3780 0C3861.51 0 3927.38 -62.54 3943.02 0C3994.88 207.46 3971.79 284.71 3915 540C3890.28 651.14 3861.78 732.86 3780 732.86C3671.56 732.86 3574.07 674.1 3534.55 540' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M150 1080C150 890.47 353.29 641.25 540 641.25C715.44 641.25 874.29 886.66 874.29 1080C874.29 1223.03 711.26 1314 540 1314C349.11 1314 150 1226.84 150 1080' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1228.97 1080C1349.98 851.43 1446.72 702 1620 702C1762.88 702 1832.99 874.28 1861.28 1080C1896.11 1333.28 1829.25 1359.87 1746.23 1620C1708.61 1737.87 1717.93 1836 1620 1836C1411.82 1836 1230.27 1806.12 1134 1620C1034.75 1428.12 1106.98 1310.43 1228.97 1080' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4232.09 1080C4232.09 1045.68 4291.46 1023.58 4320 1023.58C4335.42 1023.58 4320 1051.79 4320 1080C4320 1129.74 4338.83 1179.47 4320 1179.47C4294.87 1179.47 4232.09 1123.62 4232.09 1080' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2673.87 1620C2678.07 1599.79 2684.95 1601.96 2700 1587.6C2968.01 1331.96 3043.71 1070.77 3240 1080C3388.39 1086.97 3389.36 1369.26 3389.36 1620C3389.36 1715.56 3314.1 1695.75 3240 1772.61C3053.8 1965.75 3074.15 2012.65 2868.75 2160C2804.15 2206.34 2784.38 2160 2700 2160C2640.44 2160 2583.21 2208.21 2580.88 2160C2570.15 1938.21 2618.51 1885.99 2673.87 1620' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1836C38.54 1836 147.27 2045.41 147.27 2160C147.27 2207.41 23.01 2210.62 0 2160C-50.62 2048.62 -35.09 1836 0 1836' stroke='rgba(3%2c 96%2c 25%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1563'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1564'%3e%3cstop stop-color='rgba(16%2c 217%2c 100%2c 1)' offset='0.38'%3e%3c/stop%3e%3cstop stop-color='rgba(65%2c 194%2c 97%2c 1)' offset='0.69'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    font-family: momo trust display;
    display: flex;
    min-height: 94vh;
    justify-content: center; 
    margin: 15px;
}
.Main--Crete--Container {
    border: solid;
    border-color:#036019 ;
    border-width: 2.5px;
    border-radius: 15px;
    width: 1150px;
    height: 800px;
    width: 60%;
    background-color:rgb(227, 225, 225) ;
    display: flex;
}
.Photo--Text {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 25px;
}
.Photo--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 600px;
    width: 85%;
    height: 400px;
    margin-left: 50px;
    margin-top: 3px;
    background-color:rgb(227, 225, 225) ;
}
.Name--Text{
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 3px;
    font-size: 25px;
}
.Name--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 100px;
    width: 65%;
    height: 40px;
    margin-left: 50px;
    margin-top: 3px;
    background-color: rgb(227, 225, 225);
}
.Flex--Left--Side {
    flex-direction: column;
    width: 600px;
    height: 1000px;
}
.Flex--Right--Side {
    height: 800px;
    width: 800px;
}
.Price--Text {
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 25px;
}
.Price--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 100px;
    width: 65%;
    height: 40px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: rgb(227, 225, 225);
}
.Decription--Text {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 25px;
}
.Decription--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 90%;
    height: 399px;
    margin-left: 10px;
    background-color: rgb(227, 225, 225);
    font-size: 30px;
}
.Create--Main--Container {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 92%;
    height: 100px;
    margin-top:20px;
    margin-left: 10px;
    background-color: rgb(227, 225, 225);
    transition: 0.5s;
    font-size: 40px;
}
.Create--Main--Container:hover {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 92%;
    height: 100px;
    margin-top:20px;
    margin-left: 10px;
    background-color:#0360196e;
}
.Create--Back--Button {
    margin-top: 80px;
    margin-left: 455px;
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    transition: 0.5s;
    width: 75px;
    height: 35px;
}
.Create--Back--Button:hover {
    margin-top: 60px;
    margin-left: 440px;
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    background-color: #0360195d;
    width: 100px;
    height: 55px;
}
.Create--Back--Text {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
/* js */
#drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 435px;
  max-width: 100%;
  height: 365px;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 15px;
  color: slategray;
  cursor: pointer;
  
}

#file-input {
  display: none;
}

#preview {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  list-style: none;
  padding: 0;
}

#preview li {
  display: flex;
  align-items: center;
  gap: 0.2em;
  margin: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
}

#preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
#clear-btn {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    transition: 0.5s;
}
#clear-btn:hover {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    background-color: #03601971;
}