@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(62%2c 95%2c 68%2c 1)'%3e%3c/rect%3e%3cpath d='M511 239L510 1029' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1513 384L1512 701' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M366 991L365 607' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1624 62L1623 -575' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M114 143L113 -478' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M240 1069L239 1750' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M719 97L718 701' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1260 167L1259 -599' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1504 589L1503 -153' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M635 343L634 962' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1042 504L1041 -84' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M222 202L221 790' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M390 1010L389 408' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M481 305L480 -492' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M719 645L718 360' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1068 262L1067 -314' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M488 934L487 631' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1034 790L1033 1214' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M399 849L398 1472' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M394 769L393 110' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M877 109L876 536' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M529 446L528 821' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1610 453L1609 1110' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M303 523L302 1275' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M753 472L752 870' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M813 357L812 936' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M419 964L418 177' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M342 735L341 295' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1775 111L1774 434' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M954 375L953 -40' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1163 348L1162 1065' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M168 591L167 869' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1397 773L1396 1200' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1486 604L1485 1260' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1299 660L1298 338' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M674 1014L673 473' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M84 949L83 1493' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M982 490L981 61' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1851 793L1850 1418' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M636 43L635 773' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1080 693L1079 1115' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M318 65L317 -342' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M599 144L598 -643' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1304 61L1303 831' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M575 71L574 -387' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1465 387L1464 -99' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1319 596L1318 -106' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M714 70L713 566' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1115'%3e%3cstop stop-color='rgba(232%2c 255%2c 215%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(232%2c 255%2c 215%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1116'%3e%3cstop stop-color='rgba(232%2c 255%2c 215%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(232%2c 255%2c 215%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");    display: flex;
    max-width: 100vw;
    max-height: 80vh;
    justify-content: center; 
    margin: 15px;
}
.Main--Crete--Container {
    border: solid;
    border-color:#036019 ;
    border-width: 2.5px;
    border-radius: 15px;
    width: 1150px;
    height: 700px;
    width: 75%;
    
    background-color:rgb(227, 227, 225) ;
    display: flex;
}
.Photo--Text {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 25px;
}
.Photo--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    
    width: 85%;
    height: 25%;
    margin-left: 50px;
    margin-top: 3px;
    background-color:rgb(227, 225, 225) ;
}
.Name--Text{
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 3px;
    font-size: 25px;
}
.Name--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 100px;
    width: 65%;
    height: 40px;
    margin-left: 50px;
    margin-top: 3px;
    background-color: rgb(227, 225, 225);
}
.Flex--Left--Side {
    flex-direction: column;
    width: 75%;
    height: 80%;
}
.Flex--Right--Side {
    width: 75%;
    height: 80%;
}
.Price--Text {
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 25px;
}
.Price--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 100px;
    width: 65%;
    height: 40px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: rgb(227, 225, 225);
}
.Decription--Text {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 25px;
}
.Decription--Place {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 90%;
    height: 399px;
    margin-left: 10px;
    background-color: rgb(227, 225, 225);
    font-size: 30px;
}
.Create--Main--Container {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 92%;
    height: 100px;
    margin-top:20px;
    margin-left: 10px;
    background-color: rgb(227, 225, 225);
    transition: 0.5s;
    font-size: 40px;
}
.Create--Main--Container:hover {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    width: 92%;
    height: 100px;
    margin-top:20px;
    margin-left: 10px;
    background-color:#0360196e;
}
.Create--Back--Button {
    margin-top: 50px;
    margin-left:500px;
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    transition: 0.5s;
    width: 75px;
    height: 35px;
}
.Create--Back--Button:hover {
    margin-top: 50px;
    margin-left:500px;
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    background-color: #03601971;
    width: 75px;
    height: 35px;
}
.Create--Back--Text {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
/* js */
#drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 435px;
  max-width: 100%;
  height: 75%;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 15px;
  color: slategray;
  cursor: pointer;
  
}

#file-input {
  display: none;
}

#preview {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  list-style: none;
  padding: 0;
}

#preview li {
  display: flex;
  align-items: center;
  gap: 0.2em;
  margin: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
}

#preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
#clear-btn {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    transition: 0.5s;
}
#clear-btn:hover {
    border: solid;
    border-color: #036019;
    border-width: 2.5px;
    border-radius: 15px;
    background-color: #03601971;
}